.container {
    background-color: #fffae3;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    border: 1px dotted #bababa;
    width: 161px;
    display: grid;
    grid-template-areas:
    'reset formula formula formula'
    'scoreB scoreB scoreB scoreB'
    'b1 b2 b3 plus'
    'b4 b5 b6 minus'
    'b7 b8 b9 timesS'
    'coma b0 equals divisionS';
    grid-gap: 7px;
}

.scoreBoard {
    grid-area: scoreB;
    text-align: right;
    height: 21px;
    background-color: #ffffff;
    border: 1px solid #bababa;
    border-radius: 5px;
    padding: 2px 5px 1px;
    margin-bottom: 5px;
}

.formula {
    grid-area: formula;
    text-align: right;
    padding-right: 1px;
    font: 400 13px system-ui;
    height: 34px;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

.reset {
    grid-area: reset;
    padding-top: 5px;
}

.b1 {
    grid-area: b1;
}

.b2 {
    grid-area: b2;
}

.b3 {
    grid-area: b3;
}

.b4 {
    grid-area: b4;
}

.b5 {
    grid-area: b5;
}

.b6 {
    grid-area: b6;
}

.b7 {
    grid-area: b7;
}

.b8 {
    grid-area: b8;
}

.b9 {
    grid-area: b9;
}

.b0 {
    grid-area: b0;
}

.plus {
    grid-area: plus;
}

.minus {
    grid-area: minus;
}

.timesSign {
    grid-area: timesS;
}

.divisionSign {
    grid-area: divisionS;
}

.coma {
    grid-area: coma;
}

.equals {
    grid-area: equals;
}
