.wishList{
    max-width: 300px;
    background-color: rgb(255, 250, 227);
    padding: 20px;
}

.title {
    text-align: center;
    font-weight: 800;
    font-size: large;
}

.list{
    list-style-type: none;
    padding-inline-start: 20px;
    padding-inline-end: 20px;
}

.wish{
    padding-top: 3px;
    padding-bottom: 3px;
    border-bottom: 1px dotted #9cbecc;;
}

.wishName{
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
}

.delButton{
    border-color: rgb(216, 216, 216) rgb(209, 209, 209) rgb(186, 186, 186);
    border-width: 1px;
    border-radius: 5px;
    padding: 1px 7px 2px;
    font: 400 11px system-ui;
    float: right;
}

.divFilterButtons{
    text-align: center;
}

.filterButton{
    border-color: rgb(216, 216, 216) rgb(209, 209, 209) rgb(186, 186, 186);
    border-width: 1px;
    border-radius: 5px;
    padding: 1px 7px 2px;
    font: 400 13px system-ui;
    margin-left: 3px;
    margin-right: 3px;
}

.filterButton:active{
    background-color: antiquewhite;
}

Button:hover{
    background-color: #9cbecc;
}
