.wishList{
    max-width: 300px;
    background-color: rgb(255, 250, 227);
    padding: 20px;
}

.title {
    text-align: center;
    font: 800 19px system-ui;
    margin-bottom: 10px;
}

.list{
    list-style-type: none;
    padding-inline-start: 20px;
    padding-inline-end: 20px;
}

.wish{
    padding-top: 3px;
    padding-bottom: 3px;
    border-bottom: 1px dotted #9cbecc;
    font: 400 16px system-ui;
}

.wishName{
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
}

.delButton{
    border-color: rgb(216, 216, 216) rgb(209, 209, 209) rgb(186, 186, 186);
    border-width: 1px;
    border-radius: 5px;
    padding: 1px 7px 2px;
    font: 400 11px system-ui;
    float: right;
}

.divFilterButtons{
    text-align: center;
}

.filterButton{
    border-color: rgb(216, 216, 216) rgb(209, 209, 209) rgb(186, 186, 186);
    border-width: 1px;
    border-radius: 5px;
    padding: 1px 7px 2px;
    font: 400 14px system-ui;
    margin-left: 3px;
    margin-right: 3px;
}

Button:active{
    background-color: antiquewhite !important;
}

Button:hover{
    background-color: #90afbd;
}

.activeFilter {
    background-color: rgb(172, 201, 216);
}

.inputLine {
    padding-left: 20px;
    padding-right: 20px;
}

.input {
    border-color: rgb(216, 216, 216) rgb(209, 209, 209) rgb(186, 186, 186);
    border-width: 1px;
    border-radius: 5px;
    padding: 1px 5px 2px;
    font: 400 15px system-ui;
    width: 190px;
    margin-left: 5px;
    margin-right: 5px;

}

.inputButton {
    border-color: rgb(216, 216, 216) rgb(209, 209, 209) rgb(186, 186, 186);
    border-width: 1px;
    border-radius: 5px;
    padding: 1px 7px 2px;
    font: 400 14px system-ui;
    float: right;
}
