.wishList{
    max-width: max-content;
    background-color: #fffae3;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    border: 1px dotted #bababa;
}

.title {
    text-align: center;
    font: 800 19px system-ui;
    margin-bottom: 10px;
}

.list{
    list-style-type: none;
    padding-inline-start: 20px;
    padding-inline-end: 20px;
    min-height: 140px;
}

.wish{
    padding-top: 3px;
    padding-bottom: 3px;
    border-bottom: 1px dotted #9cbecc;
    font: 400 16px system-ui;
    width: 100%;
    max-width: 350px;
}

.wishName{
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
}

.delButton{
    border-color: #d8d8d8 #d1d1d1 #bababa;
    border-width: 1px;
    border-radius: 5px;
    padding: 1px 7px 2px;
    font: 400 11px system-ui;
    float: right;
}

.divFilterButtons{
    text-align: center;
}

.filterButton{
    border-color: #d8d8d8 #d1d1d1 #bababa;
    border-width: 1px;
    border-radius: 5px;
    padding: 1px 7px 2px;
    font: 400 14px system-ui;
    margin-left: 3px;
    margin-right: 3px;
}

Button:active{
    background-color: #faebd7 !important;
}

Button:hover{
    background-color: #90afbd;
}

.activeFilter {
    background-color: #acc9d8;
}

.inputLine {
    padding-left: 20px;
    padding-right: 20px;
}

.input {
    border-color: #d8d8d8 #d1d1d1 #bababa;
    border-width: 1px;
    border-radius: 5px;
    padding: 1px 5px 2px;
    font: 400 15px system-ui;
    width: 190px;
    margin-left: 5px;
    margin-right: 5px;

}

.inputButton {
    border-color: #d8d8d8 #d1d1d1 #bababa;
    border-width: 1px;
    border-radius: 5px;
    padding: 1px 7px 2px;
    font: 400 14px system-ui;
    float: right;
}
